<h1><span style="color: #b30000">Ho</span>nza <span style="color: #b30000">Ch</span>aramza</h1>
<p class="about">
    It is like this, <b>hoch</b> is exactly such a witty nickname. Short, impactful, and possible to read ad hoc as hoc, hotch,
    or hoch (like a loch - the Scottish lake), simply as you please. 😎
</p>
<p class="about">
    It's been <b><span style="color: #b30000"><%= daysDiff %></span></b> days since I wrote this blog for learning purposes,
    and <b><span style="color: #b30000"><%= trainingDaysDiff %></span></b> since I retrained myself to IT from completely different area.
    I usually work with Java and Spring, but this blog is all about NodeJs, which I am currently targeted on.
</p>
<p class="about">
    Hey, if you are thinking about switching to the IT world, go for it!
</p>

<p class="about">What are you waiting for?</p>